<footer class="portfolio-l-footer">
  <div class="portfolio-footer-c_menus">
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Portfolio</div>
      <ul>
        <li class="portfolio-footer-c_item"><%= link_to "Products", products_path %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Profile", profile_path %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="portfolio-footer-c_empty"></div>
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Products</div>
      <ul>
        <li class="portfolio-footer-c_item"><%= link_to "BTNG", products_btng_path %></li>
        <li class="portfolio-footer-c_item"><a href="#">mkidea</a></li>
        <li class="portfolio-footer-c_item"><%= link_to "Booklist", "#" %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Original Character", "#" %></li>
      </ul>
    </div>
    <div class="portfolio-footer-c_empty"></div>
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Social</div>
      <ul>
        <li class="portfolio-footer-c_item"><a href="#">Teitter</a></li>
        <li class="portfolio-footer-c_item"><a href="#">Bookmeter</a></li>
        <li class="portfolio-footer-c_item"><a href="#">Jognote</a><li/>
        <li class="portfolio-footer-c_item"><%= link_to "Blog", blog_articles_path %><li/>
        <li class="portfolio-footer-c_item"><a href="#">Podcast</a><li/>
        <li class="portfolio-footer-c_item"><a href="#">Github</a><li/>
        <li class="portfolio-footer-c_item"><a href="#">Qiita</a><li/>
        <li class="portfolio-footer-c_item"><a href="#">AtCoder</a><li/>
        <li class="portfolio-footer-c_item"><a href="#">Wish List</a><li/>
      </ul>
    </div>
  </div>
  <p class="portfolio-footer-c_copyright">Copyright ©︎2019 OKARYO</p>
</footer>