<footer class="portfolio-l-footer">
  <div class="portfolio-footer-c_menus">
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Portfolio</div>
      <ul>
        <li class="portfolio-footer-c_item"><%= link_to "Products", products_path %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Profile", profile_path %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="portfolio-footer-c_empty"></div>
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Products</div>
      <ul>
        <li class="portfolio-footer-c_item"><%= link_to "BTNG", products_btng_path %></li>
        <li class="portfolio-footer-c_item"><a href="https://mkidea.jp/">mkidea</a></li>
        <li class="portfolio-footer-c_item"><%= link_to "Booklist", "#" %></li>
        <li class="portfolio-footer-c_item"><%= link_to "Original Character", "#" %></li>
      </ul>
    </div>
    <div class="portfolio-footer-c_empty"></div>
    <div class="portfolio-footer-c_items">
      <div class="portfolio-footer-c_items_title">Social</div>
      <ul>
        <li class="portfolio-footer-c_item"><a href="https://twitter.com/okaryo_tr">Teitter</a></li>
        <li class="portfolio-footer-c_item"><a href="https://bookmeter.com/users/739784">Bookmeter</a></li>
        <li class="portfolio-footer-c_item"><a href="http://www.jognote.com/users/436622">Jognote</a><li/>
        <li class="portfolio-footer-c_item"><%= link_to "Blog", blog_articles_path %><li/>
        <li class="portfolio-footer-c_item"><a href="https://anchor.fm/booking-talk">Podcast</a><li/>
        <li class="portfolio-footer-c_item"><a href="https://github.com/okaryo">Github</a><li/>
        <li class="portfolio-footer-c_item"><a href="https://qiita.com/okaryo">Qiita</a><li/>
        <li class="portfolio-footer-c_item"><a href="https://atcoder.jp/users/okaryo">AtCoder</a><li/>
        <li class="portfolio-footer-c_item"><a href="https://www.amazon.jp/hz/wishlist/ls/3F7T4Z1GG7ORH?ref_=wl_share">Wish List</a><li/>
      </ul>
    </div>
  </div>
  <p class="portfolio-footer-c_copyright">Copyright ©︎2019 OKARYO</p>
</footer>