<!DOCTYPE html>
<html>
  <head>
    <title>OKARYO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag webpack_asset_path('index.css'), media: 'all' %>
    <%= javascript_include_tag webpack_asset_path('index.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
